@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
	--dark-cyan: hsl(158, 36%, 37%);
	--cream: hsl(30, 38%, 92%);
	--very-dark-blue: hsl(212, 21%, 14%);
	--dark-grayish-blue: hsl(228, 12%, 48%);
	--white: hsl(0, 0%, 100%);
	font-size: 10px;
	line-height: 1.5;
}

/* General card styles */

body {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	font-family: Montserrat, Arial, sans-serif;
	background-color: var(--cream);
	height: 100vh;
}

/* Card container styles */

.card-container {
	display: flex;
	block-size: 60vh;
	max-inline-size: 700px;
	inline-size: 85vw;
	background-color: var(--white);

	border-radius: 10px;
}

.container__item {
	flex: 1;
}

/* Image styles */

.image {
	background: center/ cover url(../images/image-product-desktop.jpg) no-repeat;
	border-radius: 10px 10px 0 0;
}

/* content styles */

.content {
	display: flex;
	flex-flow: column;
	/* justify-content: space-between; */
	font-size: 1.4rem;
	padding: 2rem;
}

.content h1,
.discount-price {
	font-family: Fraunces;
}

h1 {
	font-size: 3.5rem;
	line-height: 1.2;
	margin: 0;
}

.content p {
	color: var(--dark-grayish-blue);
}

.attribution {
	position: absolute;
	bottom: 0;
	font-size: 1.1rem;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Mobile Styles */
@media only screen and (max-width: 412px) {
	.card-container {
		flex-flow: column;
		block-size: 90vh;
	}

	.image {
		background: center / cover url(../images/image-product-mobile.jpg) no-repeat;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 413px) and (max-width: 960px) {
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
}
